html(lang='en' ng-app="pageController")
	head
		meta(charset='utf-8')
		title Single Page App
		include add/_css
		include add/_js
	body
		.classysocial(data-orientation="line" 
			data-picture="css/img/share_core_square.png" 
			data-linkedin-handle="364881211"
			data-facebook-handle="Yeralin.Daniyar" 
			data-twitter-handle="Daniyar_Y" 
			data-github-handle="Yeralin" 
			data-instagram-handle="daniyar_yeralin" 
			data-networks="linkedin,facebook,twitter,instagram,github")
		include blocks/one_page_main
		include blocks/menu

		<script src="js/classie.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/borderMenu.js"></script>
		<script>
		$(document).foundation();
		$('.classysocial').ClassySocial();
		</script>