.classysocial(data-orientation="line" 
			data-picture="css/img/share_core_square.png" 
			data-linkedin-handle="364881211"
			data-facebook-handle="Yeralin.Daniyar" 
			data-twitter-handle="Daniyar_Y" 
			data-github-handle="Yeralin" 
			data-instagram-handle="daniyar_yeralin" 
			data-networks="linkedin,facebook,twitter,instagram,github")